@import "tailwindcss";

:root {
  /* Colores */
  --background: #F2F2F1;
  --foreground: #222931;

  --primary: #AF8428;
  --secondary: #D9B471;

  --dark: #222931;
  --darkest: #1B2126;

  --border: #d9d9d9;

  /* Tipografías */
  --font-title: var(--font-playfair);
  --font-body: var(--font-inter);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-secondary: var(--secondary);

  --color-dark: var(--dark);
  --color-darkest: var(--darkest);

  --font-title: var(--font-title);
  --font-body: var(--font-body);
}

*{
  box-sizing:border-box;
}

html{
  scroll-behavior:smooth;
}

body{
  background:var(--background);
  color:var(--foreground);
  font-family:var(--font-body);
}

h1,h2,h3,h4,h5,h6{
  font-family:var(--font-title);
}

.partners-track {

    display: flex;

    width: max-content;

    animation: partners 40s linear infinite;

}

.partners-track:hover {

    animation-play-state: paused;

}

@keyframes partners {

    from {

        transform: translateX(0);

    }

    to {

        transform: translateX(-50%);

    }

}